.cr-account-input-error {
    border: 2px solid red;  
    }

.password-error {
    color: red;
}

.confirmPassword-error {
    color: red;
}

.email-error {
    color: red;
}

.hidden {
    display: none;
}