<div class="row">
    @Html.Partial("_LoginExistingAccount")
    @Html.Partial("_LoginCreateAccount")
</div>
<div class="text-center">
    I have read <a href="/MAC-Privacy-Policy-g20006t0.mac" target="_blank">Privacy Policy</a>
</div>

