<div id="existingAccount" class="col-lg-6">
    <h2>Login</h2>
    <p>If you already have an account, login for faster checkout.</p>
    <form>
        <div class="row">
            <div class="col-md-7">
                <label>Email</label>
                <input />
            </div>
            <div class="col-md-7">
                <label>Password</label>
                <input />
            </div>
            <div class="col-md-7">
                <p>
                    <a id="forgotPassword" data-action="/Login/PasswordRecovery" href="javascript:void(0)">Forgot your password?</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button data-bind="click: login" class="btn btn-success" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>
